name: CI de Backend (NestJS con Postgres)

on:
  push:
    branches: [ main ]
    paths: [ 'backend/**' ]
  pull_request:
    branches: [ main ]
    paths: [ 'backend/**' ]

jobs:
  check_backend_ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: ${{ secrets.DB_USER }}
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
          POSTGRES_DB: ${{ secrets.DB_DATABASE }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: backend/package-lock.json

      - name: Instalar dependencias
        run: npm ci

      - name: Ejecutar Linter
        run: npm run lint

      - name: Cargar variables de entorno de APP_SECRETS
        run: echo "${{ secrets.APP_SECRETS }}" >> $GITHUB_ENV

      - name: Instalar netcat (Herramienta de red)
        run: sudo apt-get update && sudo apt-get install -y netcat

      - name: Esperar a que la Base de Datos esté disponible
        run: |
            echo "Esperando a Postgres..."
            while ! nc -z postgres 5432; do   
              sleep 1
            done
            echo "Postgres está listo."

      - name: Configurar credenciales de Google Vision
        run: echo "${{ secrets.GOOGLE_VISION_CREDENTIALS }}" > google-creds.json
        
      - name: Ejecutar Pruebas (Unit & E2E)
        env:
          DB_HOST: postgres
          DB_PORT: 5432
          DB_DATABASE: ${{ secrets.DB_DATABASE }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          GOOGLE_APPLICATION_CREDENTIALS: ./google-creds.json
        run: |
          npm run test
          npm run test:e2e

      - name: Construir proyecto (Build)
        run: npm run build
